# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

.vs/
Skasowane/
Obliczenia/
/Notebooki
/spacerki.3952C396/Debug
/spacerki.C7C6B423/x64
/szybkie_.C7C6B423/x64
losowe_transformaty/
losowe_transformaty_z_kola/
stan_poczatkowy/
tensorowe_transformaty/
tensorowe_transformaty_bezfazy/
testcudafft/
testy/
